
.container1 {
    background: linear-gradient(rgb(14, 98, 48),rgb(255, 255, 255));
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cadastrar{
    background-color: #fff;
    max-width: 1100px;
    min-height: 450px;
    padding: 20px;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container1 .cadastrar h2{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
    color: #0f3959;
    font-size: 35px;
    font-weight: 500;
  }
  .form1{
    display: flex;
    flex-wrap: wrap;
  }
  .container1 .cadastrar .form1 .input1{
    margin: 2%;
  }
  .container1 .cadastrar .form1 .input1 input{
    width: 430px;
    resize: none;
    padding: 5px, 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
   }
   .container1 .cadastrar .form1 .input1 span{
    display: flex;
    left: 0;
    margin-top: -25px;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
   }
   .container1 .cadastrar .form1 .input1 input:focus ~ span,
   .container1 .cadastrar .form1 .input1 input:valid ~ span{
    transform: translateY(-25px);
    font-size: 12px;
    font-weight: 400;
   }
   .container1 .cadastrar .input1 input[type="submit"]{
    cursor: pointer;
    background-color: #095a55;
    color: #fff;
    border: none;
    width: 200px;
    padding: 12px;
    margin-left: 2%;
    margin-top: 3%;
    border-radius: 25px;
    font-size: 17px;
   }


   @media (max-width:1219px){
    .container1 .cadastrar .form1 .input1 input{
      width: 350px;
    }
    .container1 .cadastrar .form1 .input1{
      margin-bottom: 40px;
     }
   }


   @media (max-width:1000px){
    .container1 .cadastrar .form1 .input1 input{
      width: 300px;
    }
   }


   @media (max-width:865px){
    .container1 .cadastrar .form1 .input1 input{
      width: 250px;
    }
    .container1 .cadastrar .form1 .input1 input:focus ~ span,
   .container1 .cadastrar .form1 .input1 input:valid ~ span{
    transform: translateY(-18px);
    font-size: 10px;
    font-weight: 400;
   }
   .container1 .cadastrar .form1 .input1{
    margin-bottom: 40px;
   }
   }


   @media (max-width:729px){
    .container1 .cadastrar .form1 .input1 input{
      width: 200px;
    }
   }


   @media (max-width:593px){
    .container1 .cadastrar {
      width: 80%;
    }
    .container1 .cadastrar .form1 .input1 input{
      width: 350px;
    }
    .container1 .cadastrar h2{
      font-size: 25px;
    }
    .container1 .cadastrar .form1 .input1 span{
      font-size: 15px;
    }
    .container1 .cadastrar .input1 input[type="submit"]{
      font-size: 15px;
      width: 150px;
    }
   }
   @media (max-width:431px){
    .container1 .cadastrar .form1 .input1 input{
      width: 250px;
    }
   }
   @media (max-width:382px){
    .container1 .cadastrar .form1 .input1 input{
      width: 220px;
    }
    .container1 .cadastrar h2{
      font-size: 20px;
    }
   }