header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 15vh;
    background-color: rgb(14, 98, 48);
    font-weight: 600;
  }
  .shadow-drop-2-bottom{-webkit-animation:shadow-drop-2-bottom .4s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-2-bottom .4s cubic-bezier(.25,.46,.45,.94) both}
  @-webkit-keyframes shadow-drop-2-bottom{0%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-transform:translateZ(50px) translateY(-12px);transform:translateZ(50px) translateY(-12px);-webkit-box-shadow:0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-2-bottom{0%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-transform:translateZ(50px) translateY(-12px);transform:translateZ(50px) translateY(-12px);-webkit-box-shadow:0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}
  header a {
    padding: 13px 50px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(14, 98, 48);
    margin: 5px;
  }
  @media (max-width:477px){
    header{
      height: 150px;
      padding-top: 10px;
    }
    header a {
      padding: 10px 45px;
    }
   
  }